<div>
    <header>
        <img src="/assets/Group 55.png" alt="">
    </header>
    <main>
       <div class="container">
    
        <!--container form-->

           <div class="submit">
                 <div class="description">
                     <h1>Bienvenue !</h1>
                     <p>Le meilleur endroit  pour  le renforcement des capacités, 
                     <br>
                         les cours à domicile et le soutien scolaire
                     </p>
                 </div>
        
                 <div class="d-grid gap-2 col-6 mx-auto">
                    <a [routerLink]="['/login']">
                        <button class="btn btn-primary" type="button">Se connecter</button>
                    </a>
                     <br>
                     <a [routerLink]="['/sign-up']"> 
                        <button class="btn btn-secondo" type="button">S'inscrire</button>
                     </a>
                 </div>
            </div>

         <!--container img classroom-->
                 <img src="/assets/Teaching.png" alt="" id="classroom">
          
      </div>
    </main>
    <footer>
        <p>Copyright © 2023 - Tous Droits Reservés</p>
    </footer>
</div>
