header img {
    width: 410px;
    height: 220px;
}

#classroom{
    width: 400px;
    height:400px;
    margin-top: -70px;
}

main {
    display: flex;
    justify-content: space-around;
}

.container{
    display: flex;
    justify-content: space-between;
    gap: 340px;
    /* padding: 30px; */
    align-items: center;
    margin-bottom: 20px;
}

.submit{
    margin-top: -20px;
}

.description {
    text-align: center;
}

h3{
    padding: 10px;
    /* font-size: 30px; */
}


input{
    width: 360px;
    height: 56px;
    border-radius: 8px;
    margin: 10px 0px;
    border: solid 1px #22424D;
}

a {
    text-decoration: none;
    font-size: 11px;
    font-weight: 500;
    color: #999797;
    text-align: right;
}

#password{
    text-align: right;
}

form a p{
    margin-top: 5px;
    font-size: 15px;
    font-weight: 500;
    color: #22424D;
}

.retour{
    display: flex;
}

button{
    width: 360px;
    /* margin: 13px; */
    height: 60px;
    border-radius: 8px;
    border: solid 1px #D9D9D9;
}

.btn-primary{
    background-color: #22424D;
    color: white;
    font-weight: 600;
}

footer p{
    color: #333333;
    font-size: 8px;
    text-align: center;
}
